.logo {

    &__icon:link,
    &__icon:visited {
        font-size: 1.4rem;
        font-weight: 700;
        color: $text-color-white;
        @include transition-ease;
    }

    &__icon:hover,
    &__icon:active {
        color: $primary-color;
    }
}