.text {
    font-size: 1.2rem;
    line-height: 1.7;
    color: $text-color;
    font-weight: 300;

    &--white {
        color: $text-color-white;
    }
}

.heading-1 {
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 2rem;

    &--primary {
        color: $primary-color;
    }
}

.heading-2 {
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;

    &--primary {
        color: $primary-color;
    }
}