.section-about {
    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-gap: 2rem;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &:nth-child(3) {
            .icon {
                padding-right: 4rem;
            }
        }
    }
}