.section-testimonials {
    background-image: url('../img/infinite-loop-02.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-y: bottom;
}

.testimonial {

    &__content {
        display: flex;
        justify-content: space-around;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 25%;

        & img {
            margin: 0 auto;  
            border-radius: 50%;
            margin-bottom: 3rem;
        }
    }

    &__author{
        display: block;
        text-align: right;
        font-weight: 500;
    }
}